@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Tato webová stránka zpracovává základní osobní údaje uživatelů pouze za účelem fungování služby kasina, loterií a sázení. Údaje jsou chráněny proti zneužití a nejsou poskytovány třetím stranám.</p>
<p>Uživatel může kdykoliv požádat o informace o svých údajích, jejich opravu nebo odstranění.</p>
